@font-face{
    font-family: black;
    src: url(../../black.ttf);
}
@font-face{
    font-family: light;
    src: url(../../Light.ttf);
}
@font-face{
    font-family: extraLight;
    src: url(../../extraLight.ttf);
}
a{
  color: #33dd77;
  text-decoration: none;
  font-family: light;
}
h1{
  font-size: 60px;
  text-align: center;
}
h2{
  font-size: 30px;
  text-align: left;
}
p{
  font-size: 20px;
  text-align: left;
}
img{
  height: 300px;
  padding: 10px;
}
.warning{
  color: #e54040;
}
.highlight{
  background-color: rgba(191, 56, 207, 0.6);
  font-style: italic;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  background-color: rgb(45,45,45);
  color: white;
  border-radius: 10px;
  margin-top: 60px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.links{
  width: 50px;
  padding: 10px;
}
.footer-btns{
    height: 70px;
    width: 70px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    height: 70px;
    width: 70px;
    padding: 10px 5px 10px;
}