Package: com.devsignerz.grayd00r5
Name: Grayd00r 5 Theme
Architecture: iphoneos-arm
Maintainer: Devsignerz
Depiction: http://devsignerz.github.io/repo/depictions/com.devsignerz.grayd00r5/
Description: iOS 5 theme for grayd00r (grayd00r features with ios 5 theme)
Author: Devsignerz
Section: Grayd00r
Version: 1.0
