Package: com.devsignerz.ios9theme
Name: iOS 9 Theme
Depends: mobilesubstrate
Architecture: iphoneos-arm
Maintainer: Devsignerz
Depiction: http://devsignerz.com/repo/depictions/com.devsignerz.ios9theme/
Description: SD Devices Only!!!
Author: Devsignerz
Section: Themes
Version: 9.3
